@import '../../../dist/scss/variaveis.scss';
.noticesPosterContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    
    .primaryNotice {
        width: 60%;
        margin: 1.2rem;
        background-color: $constraste-primary-color;
        cursor: pointer;

        .autor{
            float: right;
        }

        
    }

    .secundaryNotices {
        width: 30%;
        margin: 1.2rem;
        cursor: pointer;
        
        .notices {
            background-color: $constraste-primary-color;
        }

        p{
            margin: 1rem 0 !important;
        }
    }
}
.subsection{
    margin-bottom: 0.5rem;
    color: $secundary-color;
}

